body{
    background-color: rgba(151, 222, 235, 0.966);
  margin-top: -20px;
  background-position: fixed;
}
head{
    background-position: fixed;

}

.hello{

    margin-top: 22px;
   margin-left: -45px;
    display: flex;
    justify-content: center;
    display: grid;
     grid-template-columns: 110px 110px 110px 110px 110px;
     grid-template-rows: 100px 100px 100px 100px 100px 100px ;
     width: 540px;
     height: 500px;
     background-color: rgba(67, 66, 70, 0.959);
     border-radius: 12px;
     
    
}
.hello button {      
    background-color:rgba(5, 0, 0, 0.753);
    border-radius: 10px;
   
    cursor: pointer;
}
.hello :hover{
    color:yellow;
    font-size: 40px;
    font-weight: bolder;
}
input {

   
    width: 533px;
    margin-left: -50px;
    height: 90px;
    font-size: 35px;
    background-color:rgb(249, 250, 239);
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
}
button[value]{

   color:whitesmoke;
   font-size: 31px;
   font:bolder;
}
.swati{
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 180px 180px 180px;

}
main {
margin-left: 30%;
  
  margin-top: 50px;
  border: 70px solid rgba(116, 103, 103, 0.87);
  width: 450px;
  height: 600px;
   border-radius: 55px;
   background-color:rgba(117, 104, 104);      }